@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --bg: #F8F8F8;
    --graylight: rgb(195, 195, 195);
    --primary: #FFC107;
    --label: #6C6C6C;
    --aside-bg: #F2EAE1;
    --black: #000000;
}

body {
    background-color: var(--bg);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

#container {
    display: flex;
}

.sidebar h1 {
    margin-bottom: 75px;
    padding-left: 20px;
    font-size: 1.1rem;
    position: relative;
    left: 15px;
}

.sidebar h1::after {
    content: '';
    display: block;
    width: 7px;
    height: 28px;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar {
    padding-top: 15px;
    background-color: var(--aside-bg);
    width: 360px;
    height: 100vh;
    position: relative;
}

.div_avatar {
    width: 190px;
    height: 234px;
    display: block;
    margin: 0 auto;
}

.div_avatar h2 {
    text-align: center;
}

h3 {
    font-weight: 100;
    color: var(--primary);
    text-align: center;
}

.div_avatar {
    margin-bottom: 100px;
}

.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
}

.div_avatar h2 {
    margin-bottom: 13px;
}

.div_avatar h3 {
    font-size: 16px;
}

.div-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.active {
    background-color: var(--primary);
    width: 257px;
    height: 49px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-menu a {
    display: flex;
    gap: 15px;
}

.ph-house {
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

.div_btn-sair {
    margin-left: -15px;
    position: absolute;
    bottom: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_btn-sair a {
    display: flex;
    gap: 50px;
}

.div_btn-sair span {
    font-size: 21px;
}

.ph-sign-out {
    font-size: 25px;
}

.div_pai {
    width: 100%;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #fff;
    height: 8vh;
    padding-right: 127px;
}

header div {
    position: relative;
}

header div input {
    padding: 10px;
    border-radius: 9px;
    border: solid 1px var(--graylight);
}

.ph-magnifying-glass {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 32px;
    color: var(--graylight);
    cursor:pointer;
}

hr {
    background-color: var(--graylight);
    border: none;
    height: 1px;
    margin: 0 3vw 0;
}

main div {
    padding: 16px 3vw 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div h2 {
    font-size: 23px;
}

main div a {
    background-color: var(--primary);
    border: none;
    padding: 16px 42px 16px;
    border-radius: 3px;
    cursor: pointer;
}

main div a span {
    font-weight: 600;
    font-size: 17px;
    color: #fff;
}

table{ 
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}

th {
    padding: 32px;
    color: var(--graylight);
    font-weight: 500;
}

tr {
    border: solid var(--bg);
    border-width: 0 3vw 12px 3vw;
}

td {
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

td .avatar {
    margin-top: 18px;
    border-radius: 5px;
    width: 86px;
    height: 66px;
    object-fit: cover;
}

.ph-pencil-simple, .ph-trash {
    cursor: pointer;
    font-size: 35px;
    color: var(--primary);
}

#span_table {
    margin-left:3vw;
    text-transform: uppercase;
    font-size: 15px;
    color: #F00000;
}

#btn-cadastrar {
    display:none;
}

#btn-editar {
    display:none;
}